<%= simple_form_for(@listing) do |l| %>
  <%= l.input :transportation_type, as: :select, input_html: { autocomplete: "off" }, collection: %w(Berline Sport SUV Crossover Coupe Convertible Van Minibus Limousine) %>
  <%= l.input :cost, input_html: { autocomplete: "off" } %>

  <div class="form-group string required listing_location"><label class="form-control-label string required" for="listing_location">Location <abbr title="required">*</abbr></label>
    <%= text_field_tag :location, params[:location],
      class: "form-control string required",
      id: "address-location",
      name: "listing[location]"
    %>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.9.0"></script>
    <script>
      var placesAutocomplete = places({
        container: document.querySelector('#address-location'),
      });
    </script>

  </div>

  <%= l.input :date_start, as: :string, input_html: { id: "range_start" } %>
  <%= l.hidden_field :date_end, as: :string, input_html: { id: "range_end" } %>

  <%#= l.input :rating, collection: 0..5 %>
  <%= l.hidden_field :rating, value: rand(3..5) %>
  <%= l.input :description, as: :text, input_html: { autocomplete: "off" } %>
  <%= l.input :photo %>
  <%= l.input :photo_cache, as: :hidden %>

  <%= l.button :submit, class: "btn btn-primary" %>
<% end %>
