<!-- <h1><%= @listing.transportation_type %></h1>

<div>
  <h2>Type of Car</h2>
    <p><%= @listing.transportation_type %></p>
  <h2>Cost</h2>
    <p><%= @listing.cost %></p>
  <h2>Location</h2>
    <p><%= @listing.location %></p>
  <h2>Date Start</h2>
    <p><%= @listing.date_start %></p>
  <h2>Date End</h2>
    <p><%= @listing.date_end %></p>
  <h2>Rating</h2>
    <p><%= @listing.rating %> / 5 stars</p>
  <h2>Description</h2>
    <p><%= @listing.description %></p>
  <br />
  <h2>Photo</h2>
    <%# if @listing.photo.url.nil? %>
      <p>There is no Image to be displayed</p>
    <%# else %>
      <%#= cl_image_tag @listing.photo, height: 200, width: 200, crop: :fill %>
    <%# end %>
</div>
 -->

<div class="display-container">
 <div class="banner" style="background-image: url(<%= image_path @listing.photo %>"></div>
 <div class="half-container">
    <div class="left">
      <div class="info">
        <div class="text">
          <div><h2>Type</h2><%= @listing.transportation_type %></div>
          <div><h2>Location</h2> <%= @listing.location %></div>
        </div>
        <div class="profile">
          <%= image_tag "https://avatars2.githubusercontent.com/u/40055789?v=4", class: "img-circle" %><span><%= @listing.user ? @listing.user.username : "No Username" %></span>
        </div>
      </div>
      <div class="description text-display">
        <div>
          <h2>Description</h2>
          <%= @listing.description %>
        </div>
      </div>
      <!-- <div class="review text-display">
        <div>
          <h2>Review</h2>
          It's actually a really fast car.
        </div>
      </div> -->
    </div>
    <div class="right">
      <div class="reserve">
        <div>
          <h1>Book</h1>
          <div class="flex-date">
            <p>Start Date</p>
            <p>-></p>
            <p>End Date</p>
          </div>
          <%= simple_form_for(@offer, url: offers_path(current_user)) do |f| %>
            <%#= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <%= f.input :listing_id, as: :hidden, input_html: {value: @listing.id} %>
            <%= f.button :submit, class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>

      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
      ></div>

    </div>
  </div>
</div>

<%= link_to "All cars", listings_home_path, class: "btn btn-primary" %>

