<h1>Listings</h1>
<ul>
  <% @listings.each do |listing| %>
    <li><%= listing.transportation_type %> <%= listing.cost %> <%= listing.location %> <%= listing.date_start %> <%= listing.date_end %> <%= listing.rating %> <%= listing.description %></li>
  <% end %>
</ul>
