<div class="new-container">
  <div class="left half">
    <div class="listings-container">
      <h2>Cars you are renting out</h2>
      <div class="flex-row scroll">
        <div class="center-cards">
          <% Listing.where(user: current_user).each do |listing| %>
            <%= link_to listing_home_path(listing), class: "card-link" do %>
              <%= render "layouts/card", listing: listing %>
            <% end %>
            <div class="icons">
              <%= link_to listing_path(current_user, listing), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
              <%= link_to listing_edit_path(current_user, listing) do %>
                <i class="far fa-edit"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="right half">
    <div class="form-container">
      <h2>Rent out a car</h2>
      <%= render 'form', listing: @listing %>
    </div>
  </div>
</div>

