<h1><%= @listing.transportation_type %></h1>

<div>
  <h2>Type of Car</h2>
    <p><%= @listing.transportation_type %></p>
  <h2>Cost</h2>
    <p><%= @listing.cost %></p>
  <h2>Location</h2>
    <p><%= @listing.location %></p>
  <h2>Date Start</h2>
    <p><%= @listing.date_start %></p>
  <h2>Date End</h2>
    <p><%= @listing.date_end %></p>
  <h2>Rating</h2>
    <p><%= @listing.rating %> / 5 stars</p>
  <h2>Description</h2>
    <p><%= @listing.description %></p>
  <br />
  <h2>Photo</h2>
    <% if @listing.photo.url.nil? %>
      <p>There is no Image to be displayed</p>
    <% else %>
      <%= cl_image_tag @listing.photo, height: 200, width: 200, crop: :fill %>
    <% end %>
</div>








