<h1><%= @listing.transportation_type %></h1>
<p><%= @listing.transportation_type %> <%= @listing.cost %> <%= @listing.location %> <%= @listing.date_start %> <%= @listing.date_end %> <%= @listing.rating %> <%= @listing.description %></p>
