<!-- email username first_name last_name rating / 5 description -->

<div class="user-container">
  <div class="profile">
    <div class="profile-pic">
      <% if @user.photo.url.nil? %>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", class: "img-circle"%>
      <% else %>
        <%= cl_image_tag @user.photo, class: "img-circle"%>
      <% end %>

    </div>
    <div class="profile-text">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <h2 class="italics" ><%= @user.email %></h2>
    </div>
    <% if policy(@user).edit? %>
      <div class="flex-end">
        <%= link_to "Edit Information", user_edit_path(@user), class: "btn btn-primary" %>
        <%= link_to "Delete Account", user_path(@user), class: "btn btn-danger", method: :delete, data: {
            confirm: "Are you sure?"
          } %>
      </div>
    <% end %>
  </div>

  <div class="description-container">
    <h2>Description</h2>
    <div class="description">
      <div class="description-text">
        <p><%= @user.description %></p>
      </div>
    </div>
  </div>
  <div class="rating">
    <h2>Average Rating</h2>
    <ul class="list-inline">
      <% @user.rating.times do %>
        <li><i class="fa fa-star"></i></li>
      <% end %>
      <% (5 - @user.rating).times do %>
        <li><i class="far fa-star"></i></li>
      <% end %>
    </ul>
  </div>
</div>

