<div class="offers-container">
  <div class="mini-navbar">
    <h2>Offers Recieved</h2>
    <%= link_to pending_offers_path(@user) do%>
      <h2 class="inactive">Offers Sent</h2>
    <% end %>
  </div>

  <% total = 0 %>
  <% @listings.each do |listing| %>
    <% total += listing.offers.length %>
  <% end %>

    <% if total > 0 %>
      <p class="italics">You have <%= pluralize total, "offer" %> </p>
    <% end %>
  <div class="listing-cards row">
    <% @listings.each do |entry| %>
      <% unless entry.offers.length == 0 || entry.offers.nil? %>
        <div class="listing-card col-xs-12 col-md-6 col-lg-3 ">
          <h2><%= entry.transportation_type %></h2>
          <% entry.offers.each do |o| %>
            <p><%= o.user.first_name %> <%= o.user.last_name %>
              &nbsp;
              <%= link_to listing_path(current_user, entry), method: :delete do %>
                <i class="fas fa-check-circle accept"></i>
              <% end %>
              <%= link_to delete_path(current_user, o), method: :delete, data: { confirm: "Are you you want to reject #{o.user.first_name} #{o.user.last_name}'s offer?" } do %>
                <i class="fas fa-times-circle reject"></i>
              <% end %>
            </p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
<%# SAMPLE DATA
  5.times do
    Listing.create!(
      transportation_type: "Vehicle",
      cost: "$100",
      location: "London",
      date_start: "2018-08-23",
      date_end: "2018-09-09",
      rating: 5,
      user_id: 1,
      description: "This is to test the Offers Page"
    )
  end
  [6, 7, 8, 9, 10].each do |id|
    3.times do
      Offer.create(listing_id: id, user_id: rand(1..6))
    end
  end


 %>
