<div class="custom-navbar <%= current_page?(root_path) ? "custom-navbar-transparent" : "custom-navbar-white" %>">
  <div class="left-side half">
    <div class="logo">
      <%= link_to root_path do %> <!-- this 'do' allows us to make a link out of the image. Line 4 and 5 are related  -->
        <%= image_tag 'logo.png' %>
      <% end  %>
    </div>


    <div class="search-bar">
      <div class="input-group">
        <form class="form-inline">
          <div class="form-group">
            <%= select_tag :seats, options_for_select(["2", "4", "4+"], params[:seats]), class: "form-control", include_blank: "Seats" %>
          </div>
          <div class="form-group">
            <%= select_tag :transportation_type, options_for_select(["Berline", "Sport", "SUV","Crossover","Coupe","Convertible","Van","Minibus","Limousine"], params[:transportation_type]), class: "form-control", include_blank: "Category" %>
          </div>
          <div class="form-group">
            <div class="input-group">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                id: "address-input",
                placeholder: "Enter a location"
              %>

              <script src="https://cdn.jsdelivr.net/npm/places.js@1.9.0"></script>
              <script>
                var placesAutocomplete = places({
                  container: document.querySelector('#address-input'),
                });
              </script>

            </div>
          </div>
        </form>
      </div><!-- /input-group -->
    </div>
  </div>
  <div class="right-side half">
    <div class="links">
       <a href="#">Offers</a>
       <a href="#">Rent</a>
       <a href="#">Rent Out</a>
    </div>
    <div class="profile">
      <% if current_user.nil? %>
        <%= link_to "Login", new_user_session_path  %>
      <% else %>
        <div class="dropdown">
          <img src="https://avatars2.githubusercontent.com/u/40055789?v=4" class="avatar dropdown-toggle img-circle" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Profile</a></li>
            <li><%= link_to "Logout", destroy_user_session_path %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>




